spring.application.name=easy-storage
spring.datasource.url=jdbc:mysql://localhost:3306/easy_storage?useSSL=false&serverTimezone=UTC
spring.datasource.username={{DB_USER}}
spring.datasource.password={{DB_PASS}}
app.admin.username={{ADMIN_USER}}
app.admin.password={{ADMIN_PASS}}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect
spring.jpa.hibernate.ddl-auto=update
